/* Styling for the Search Results */
.SearchResults {
    display: flex; 
    flex-direction: column; 
    width: 50%; /* 50% of the parent container */
    height: 950px; /* height of the container */
    padding: 0.92rem;
    background-color: #e9e932;
    box-shadow: 0 4px 2px 2px #000000; /* top left right bottom */
} 

/* Styling for the SearchResults header */
