/* Styling for the App component */
/* body, html and #root are set to 100% of the viewport height */
body, 
html, 
#root {
  height: 100%;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
/* Ensures the app takes up the full height of the viewport */
html {
  font-size: 18px; /* Base font size */
}
/* set up the H1 element */ 
h1 {
  padding: .77rem 0; 
  background-color: #282c34;
  text-align: center; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem; 
  color: #fff; 
  margin: 0; /* Removes default margin */
}

h1 .highlight {
  color: #61dafb
}

.App {
  height: 100%; 
  width: 100%; 
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  min-height: 100vh; /* Ensures the app takes up the full height of the viewport */
  text-align: center;
  background-image: url('FireflyForestStereo.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; /* Makes the background image fixed */
  display: flex; 
  flex-direction: column; 
}




